@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic");
@import url("https://allfont.ru/allfont.css?fonts=noto-serif-bold,&display=swap&subset=cyrillic-ext");

@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap&subset=cyrillic-ext');
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #000;
	/* max-width: 1920px; */
	background: linear-gradient(to right, rgba(66,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(66,0,0,1) 100%);
	font-family: 'Viaoda Libre', cursive;
}
/* ------------------ */
header {
	padding: 10px 10px 0 10px;
}
h1,h2 {
	font-family: 'Underdog', cursive;;
}
.header__logo {
	width: 100px;
	display: block;
	margin: 0 auto;
}
.header__logo img{
	width: 100%;
}
.eyes {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.h1 {
	display: block;
	margin: 0 auto;
	color: rgba(255, 0, 0, 0.884);
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	text-shadow: 10px 10px 3px rgb(66,0,0,1), -10px -10px 3px rgba(66,0,0,1),10px -10px 3px rgb(66,0,0,1), -10px 10px 3px rgba(66,0,0,1);
	margin-bottom: 10px;
}
.h1:hover{
	display: block;
	margin: 0 auto;
	color: rgba(255, 0, 0, 0.884);
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	text-shadow: 1px 1px 3px rgb(0, 11, 73), -1px -1px 3px rgba(0, 11, 73), 1px -1px 3px rgb(0, 11, 73), -1px 1px 3px rgba(0, 11, 73);
	margin-bottom: 10px;
}
.menu__list li{
	display: inline-block;
	margin-right: 3%;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url('../img/icon/1.png') 0 0/contain no-repeat;
	text-indent: 20px;
	vertical-align: middle;
	transition: all 0.3s ease 0s;
}
.menu__list li:hover{
	display: inline-block;
	margin-right: 3%;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url('../img/icon/1.png') 0 0/contain no-repeat;
	text-indent: 20px;
	vertical-align: middle;
	margin-left: -2.5%;
	margin-right: -0.4%;
	transition: all 0.3s ease 0s;
	border-radius: 40%;
	box-shadow: 0px 0px 10px #5e0024;
}
.menu__list a{
	font-size: 20px;
color: rgb(0, 99, 77);
/* text-indent: 25px; */
transition: all 0.3s ease 0s;
}
.menu__list a:hover{
	font-size: 25px;
color: rgb(10, 0, 99);
/* text-indent: 25px; */
transition: all 0.3s ease 0s;
}

.menu {
	display: block;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}
.box {
	background-image: url('../img/background/it.jpg');
	background-color: #dee9eb;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.box__content1 {
	background-image: url('../img/background/box11.jpg');
	background-color: rgb(0, 0, 0);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0 10px;
	color: #5e0024;
	
}

 h2{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
}
.box__content1 img{
	display: inline-block; 
	max-width: 40%;
	margin-right: 5%;
} 
.box__content1 span{
	display: inline-block;
	max-width: 500px;
	padding: 10px;
	text-align: justify;
	margin: 0 auto;
}
.box__contetnt12 {
	width: 100%;
	height: 200px;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 53%,rgba(0,0,0,0.41) 85%,rgba(0,0,0,0) 100%);
} 
.box__content21 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 36%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.41) 86%,rgba(0,0,0,1) 96%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%);
	width: 100%;
	height: 300px;
}
.box__content22 img{
	display: block;
	width: 100%;
	
}
.img {
	width: 40%;
	display: inline-block;
	background-image: url('../img/background/ite.gif');
	background-repeat: no-repeat;
	background-position: 9% 40%;
	background-attachment: fixed;
	background-size: 14%;
}
.box__content22 {
	background-color: rgb(0, 0, 0);
	
}
.box__content22 span{
	display: inline-block;
	max-width: 500px;
	padding: 10px;
	text-align: justify;
	margin: 0 auto;
	color: #5e0024;
}
.gif {
	width: 100%;
}
.box__3{
	border: 1px solid rgb(77, 0, 0);
	background-image: url('../img/background/p3.png');
	background-color: #000000;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	color: #02008f;
	padding: 10%;
}

.box__3list li{
	margin: 20px;
	font-size: 20px;
   text-align: justify;
	transition: all 0.3s ease 0s;
}
.box__3list span {
	padding-left: 40px;
	display: inline;
	background-image: url('../img/icon/blood.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: all 0.3s ease 0s;
}
.box__3list span:hover {
	padding-left: 35px;
	display: inline;
	background-image: url('../img/icon/1.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: all 0.3s ease 0s;
}
.box__3list li:hover{
	margin: 20px;
	font-size: 20px;
   text-align: justify;
	border-radius: 25px;
	box-shadow: 0px 0px 50px #5e0024;
	transition: all 0.3s ease 0s;
}
.box__4 {
	text-align: center;
	color: #dee9eb;
	padding: 10px;
	vertical-align: middle;
}
.box__4 img{
	width: 50%;
	display: block;
	margin: 0 auto;
}
.box__content4 {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	margin: 20px;
	border: px solid #ff00ff00;
	border-radius: 10px 30px;
	box-shadow: 0 0 10px #00ffaa;
	background-image: url('../img/pattern/blood-clip-art-79.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	line-height: 120%;
}
footer {
	background-image: url('../img/pattern/6Tr5BBKnc.jpg');
	background-repeat: repeat-x;
	height: 100px;
	background-size: auto 100%;
	padding: 30px;
	text-align: center;
}

.footer h2 {
	display: block;
	width: 30px;
	font-size: 40px;

}


/* .button {
	background: #ff5722;
	color: #fff;
	font-weight: 700;
	padding: 15px 10px;
	text-align: center;
	display: block;
	max-width: 350px;
	line-height: 23px;
	font-size: 18px;
	text-transform: uppercase;
 } */


/* 
.block {
	background-color: green;
	padding: 15px;
	margin: 0px 0px 50px 0px;

	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}
.block:hover {
}
.block span {
	font-weight: 700;
}
.wrapper {
}
.wrapper:hover .block {
	opacity: 1;
	visibility: visible;
}
 */
/*
.block-scroll {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-color: green;
	border: 5px dashed red;
}
.block-scroll__inner {
	padding: 15px 45px 15px 15px;
	overflow: auto;

	margin: 0px -30px 0px 0px;
	height: 200px;
}
*/
/* .image {
	width: 200px;
	height: 200px;
	margin: 0px auto;
	display: block;
	border-radius: 50%;
}
.inline {
	border-radius: 50%;
	border: 5px dashed red;
	line-height: 30px;
	background-color: orange;
} */
/* 
border
Универсальное свойство border позволяет одновременно установить толщину, 
стиль и цвет границы вокруг элемента.
border: 1px solid #000; (размер стиль цвет)
Основные стили -solid dotted dashed

border-radius
Устанавливает радиус скругления уголков блока.
border-radius:50%; - кргуг
Можно использовать вместе с overflow: hidden;

outline
Универсальное свойство, одновременно устанавливающее цвет, 
стиль и толщину внешней границы на всех четырех сторонах элемента. 
В отличие от линии, задаваемой через border, свойство outline 
не влияет на положение блока и его ширину. 
Также нельзя задать параметры линии на отдельных сторонах элемента, 
outline применяется сразу ко всем четырём сторонам.

box-shadow
Добавляет тень к элементу.
box-shadow: сдвиг_по_гориз сдвиг_по_верт радиус расстояние и цвет
Можно добавить много теней. На тень влияет свойство border-radius.
filter: drop-shadow(30px 10px 4px #4444dd);

opacity
Определяет уровень прозрачности элемента.
Отличие opacity:0; от display:none; в том что блок не 
убирается из верстки а только становиться прозрачным, 
то есть занимаемое им место остается. Так же, с прозрачными 
элементами все еще можно взаимодействовать, например 
кликать по ссылкам.

visibility
Предназначен для отображения или скрытия элемента.
Отличие visibility: hidden; от display:none; в том что блок не убирается из верстки а только скрывается, то есть занимаемое им место остается.
Отличие visibility: hidden; от opacity:0; в том что блок скрывается и взаимодействовать с ним нельзя.
*/

/* ========================================================================================= */
/*
.article {
	max-width: 800px;
	margin: 0px auto;
	background-color: #eee;
	padding: 15px;
	font-size: 20px;
}
.article__image {
	float: left;
	width: 350px;
	margin: 15px;
}
.item {
	clear: both;
}
*/
/*
.items {
}
.item {
	vertical-align: middle;
	display: inline-block;
	width: 100px;
	padding: 15px;
	background-color: green;
}
*/
/*
vertical-align: top;
vertical-align: middle;
vertical-align: bottom;
*/



/*
1. Блочный
2. Ограничен по ширине (уже чем родитель)
3. margin: 0px auto; 
*/
/*
.list {
	font-size: 0;
}
.list li {
	display: inline-block;
}
.link {
	font-size: 16px;
}
*/
